enum34
pyalsaaudio
pyaudio
python-dateutil
soco
paho-mqtt
watchdog
toml
requests
requests-jwt
spidev
gpiozero
Adafruit_MCP9808
py-translator
BeautifulSoup4
langdetect
slugify
wikipedia
google-api-python-client
oauth2client