enum34
django
pyalsaaudio
pyaudio
python-dateutil
soco
paho-mqtt
watchdog
toml
requests==2.21.0
BeautifulSoup4==4.6.3
requests-jwt
spidev
gpiozero
Adafruit_MCP9808
py-translate
langdetect
slugify
google-api-python-client
oauth2client
SpeechRecognition
esptool
pyserial
selenium