enum34
django
pyalsaaudio
pyaudio
python-dateutil
soco
paho-mqtt
watchdog
toml
requests==2.21.0
requests-jwt
spidev
gpiozero
Adafruit_MCP9808
py-translate
langdetect
slugify
google-api-python-client
oauth2client
SpeechRecognition
esptool
pyserial
selenium
PyGithub
pydub
terminaltables
PyInquirer
prompt_toolkit==1.0.14
colorama
google-cloud-texttospeech
boto3
