#==================== Share Definitions =======================
[global]
   #ntlm auth=yes
	workgroup = WORKGROUP
	server string = Project Alice SMB %v
	netbios name = alice
	security = user
	map to guest = bad user
	dns proxy = no
	allow insecure wide links = yes

[homes]
   comment = Home Directories
   browseable = no

# By default, the home directories are exported read-only. Change the
# next parameter to 'no' if you want to be able to write to them.
   read only = yes

# File creation mask is set to 0700 for security reasons. If you want to
# create files with group=rw permissions, set next parameter to 0775.
   create mask = 0700

# Directory creation mask is set to 0700 for security reasons. If you want to
# create dirs. with group=rw permissions, set next parameter to 0775.
   directory mask = 0700

# By default, \\server\username shares can be connected to by anyone
# with access to the samba server.
# The following parameter makes sure that only "username" can connect
# to \\server\username
# This might need tweaking when using external authentication schemes
   valid users = %S

# Un-comment the following and create the netlogon directory for Domain Logons
# (you need to configure Samba to act as a domain controller too.)
;[netlogon]
;   comment = Network Logon Service
;   path = /home/samba/netlogon
;   guest ok = yes
;   read only = yes

# Un-comment the following and create the profiles directory to store
# users profiles (see the "logon path" option above)
# (you need to configure Samba to act as a domain controller too.)
# The path below should be writable by all users so that their
# profile directory may be created the first time they log on
;[profiles]
;   comment = Users profiles
;   path = /home/samba/profiles
;   guest ok = no
;   browseable = no
;   create mask = 0600
;   directory mask = 0700

[share]
	comment = Project Alice SMB
   path = /share
   browseable = yes
   writeable = yes
   read only = no
   force user = pi
   force group = pi
   create mask = 0777
   force create mode = 0777
   directory mask = 0777
   force directory mode = 0777
   public = yes
   guest ok = yes
   follow symlinks = yes
   wide links = yes
